body {
    background-color: azure;
}

.cabecalho {
    text-align: center;
    color: blueviolet;
}

nav a {
    align-items: center;
    display: block;
    padding: 1px;
    text-decoration: none;
    color: black;
}

#integrantes {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.container {
    background-position: right;
    background-size: cover;
    margin-left: 100px;
}

.buttoninst {
    background-color: rgba(122, 12, 248, 0.349);
    border: none;
    color: rgba(46, 44, 44, 0.781);
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.buttongit {
    height: 100px;
    background-color: rgba(122, 12, 248, 0.349);
    color: rgba(46, 44, 44, 0.781);
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}